.top {
  padding-top: 65px;
  box-sizing: content-box;

  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .top {
    padding-top: 70px;
    height: calc(100vh - 70px);
  }
}

.top-text {
  font-size: 4vw;
}
