.top {
  /* height: 100vh; */
  height: calc(100vh - 65px);
  border: double;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .top {
    /* height: 100vh; */
    height: calc(100vh - 70px);
    border: dashed;
  }
}

/* p {
  text-align: center;
} */
