.top {
  padding-top: 65px;
  box-sizing: content-box;

  height: calc(100vh - 65px);
  border: double;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .top {
    padding-top: 70px;
    box-sizing: content-box;

    height: calc(100vh - 70px);
    border: dashed;
  }
}

p {
  font-size: 4vw;
}
